* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: #e6ecf5;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #153b6e;
    font-family: 'Noto Sans JP', sans-serif;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

form hr {
    border: 0.5px solid #153b6e;
    width: 80%;
}

.logo {
    color: #e6ecf5;
    text-transform: uppercase;
    font-size: 22px;
}

.nav-links-mobile {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: #e6ecf5;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links li {
    list-style: none;
}

.header-login a {
    color: #e6ecf5;
    text-decoration: none;
    font-size: 14px;
    background-color: #153b6e;
    margin: 5px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #e6ecf5;
    margin: 5px;
    transition: all 0.3s ease;
}

.optionalfield {
    display: none;
}

.section-default {
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section-default h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
}

.section-default form {
    margin: 10px auto;
    width: 40%
}

.section-default form input,
.section-default form p {
    margin: 5px;
}

.section-default form input {
    padding: 10px 5px;
    border-radius: 15px;
    border: 4px solid #153b6e;
    background-color: #e6ecf5;
    width: 100%;
}

.section-default form .center {
    text-align: center;
}

.section-default form select {
    background-color: #e6ecf5;
    border: 3px solid #153b6e;
    cursor: pointer;
    border-radius: 10px;
}

.section-default form {
    display: inline-block;
}

.section-default button {
    outline: none;
}

.section-default .highlight-button {
    border-radius: 15px;
    background-color: #153b6e;
    border: 4px solid #153b6e;
    padding: 5px 10px;
    cursor: pointer;
    color: #e6ecf5;
    width: 70%;
}

.section-default .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.section-default .inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    border: 2px solid #153b6e;
    border-radius: 10px;
    color: #153b6e;
    background-color: #e6ecf5;
    display: inline-block;
    cursor: pointer;
    padding: 10px 5px;
}

.section-default .inputfile:focus+label,
.section-default .inputfile+label:hover {
    background-color: #CCD3DD;
}

.section-table {
    margin: 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.options-horizontal li {
    display: inline;
    align-items: center;
    margin: 15px;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #1756AB;
}

.options-horizontal ul,
.options-horizontal li {
    list-style: none;
    display: inline-block;
}

.option-horizontal p {
    display: inline;
    margin-right: 10px;
}

.messages {
    margin-top: 20px;
}

.messages .error {
    background-color: #AB1717;
    padding: 5px 20px;
    color: #e6ecf5;
    border-radius: 15px;
}

.messages .success {
    background-color: #10AB28;
    padding: 5px 20px;
    color: #e6ecf5;
    border-radius: 15px;
}

.information {
    display: none;
    background-color: #D9920C;
    padding: 5px 20px;
    color: #e6ecf5;
    border-radius: 15px;
    margin: 10px 0px;
}

.highlight-link {
    color: #153b6e;
    border: 4px solid #153b6e;
    border-radius: 15px;
    padding: 2px 5px;
    background-color: transparent;
    text-decoration: none;
}

.highlight-link-onblack {
    color: #e6ecf5;
    border: 2px solid #e6ecf5;
    border-radius: 15px;
    padding: 4px 6px;
    background-color: #153b6e;
}

.highlight-text {
    font-weight: bold;
    font-size: 15px;
}

.optional-space {
    display: none;
}

.form-section {
    width: 80%;
    margin: 30px 0px;
}

.form-section input {
    width: 100%
}

.form-section .checkmark {
    margin: 0px 2px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6ecf5;
    border: 2px solid #153b6e;
}

.form-certificate h3 {
    font-size: 20px;
    color: #153b6e;
}

.form-certificate label {
    margin: 30px 0px;
}

@media screen and (max-width:1010px) {
    form .optional-input {
        display: none;
    }
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    body {
        overflow-x: hidden!important;
    }
    form .optional-input {
        display: none;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #153b6e;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .header-login {
        display: none;
    }
    .non-essential-mobile {
        display: none;
    }
    .nav-links-mobile {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    form hr {
        width: 100%;
    }
    .section-default {
        text-align: center;
    }
    .section-default form {
        width: 80%
    }
    .section-default .form-section {
        align-items: center;
        margin: 30px auto;
    }
}

@media screen and (max-width:550px) {
    body {
        overflow-x: hidden!important;
    }
    form .optional-input {
        display: none;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #153b6e;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .header-login button {
        display: none;
    }
    .non-essential-mobile {
        display: none;
    }
    .nav-links-mobile {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .section-default form {
        width: 100%;
    }
}

.nav-active {
    display: flex;
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}